<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <h1 class="ui header"><%= t 'about' %></h1>
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <img src="http://imgs.xkcd.com/comics/self_description.png">
      </div>
    </div>
  </div>
</div>
