<div class="ui centered page grid search">
  <div class="ui form eight wide column">
    <div class="field">
      <div class="ui fluid action input">
        <input placeholder="Search a topic..." type="text"/>
        <div class="ui button">Search</div>
      </div>
    </div>
  </div>
</div>