<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="nine wide column">
        <h1 class="ui header"><%= t 'archives' %></h1>
        <div class="ui horizontal divider">
          <i class="gay icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical main" id="archived-topics">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <table class="ui very basic striped table">
          <thead>
          <tr>
            <th class="right aligned">#</th>
            <th><%= t 'topic' %></th>
            <th class="right aligned"><%= t 'committer' %></th>
            <th class="right aligned"><%= t 'completion_date' %></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="topic in topics">
            <td class="right aligned">{{ topic.id }}</td>
            <td>{{ topic.subject }}</td>
            <td class="right aligned">{{ topic.author }}</td>
            <td class="date right aligned">
              {{ topic.completed_at }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>g

<script>
  var topics = new Vue({
    el: '#archived-topics',
    data: {
      topics: []
    },
    created: function () {
      this.fetch();
    },
    methods: {
      fetch: function () {
        var self = this;
        $.ajax({
          url: '/topics/archived',
          method: 'GET',
          success: function (data) {
            if (data.s) {
              self.topics = data.q.topics;
            }
          },
          error: function (err) {
            console.error(err);
          }
        });
      }
    }
  });
</script>