<div class="row">
  <div class="column padding-reset">
    <div class="ui large message">
      <h1 class="ui huge header">Navbar example</h1>
      <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>To see the difference between static and fixed top navbars, just scroll.</p>
      <a href="" class="ui blue button">View navbar docs &raquo;</a>
    </div>
  </div>
</div>