<div class="ui centered page grid">
  <div class="ui form eight wide column">
    <div class="field">
      <div class="ui fluid action input">
        <input placeholder="Search a topic..." type="text"/>
        <div class="ui button">Search</div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="eight wide column">
        <div class="ui horizontal divided">
          <i class="flaticon-settings icon"></i>
        </div>
        <p class="ui centered">Check out the Topics</p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="column">
        <table class="ui very basic striped table">
          <thead>
            <tr>
              <th>Topic</th>
              <th class="right aligned">Owner</th>
              <th class="right aligned">Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Swift in action</td>
              <td class="right aligned">Yuankun</td>
              <td class="right aligned">3</td>
            </tr>
            <tr>
              <td>Swift in action</td>
              <td class="right aligned">Yuankun</td>
              <td class="right aligned">3</td>
            </tr>
            <tr>
              <td>Swift in action</td>
              <td class="right aligned">Yuankun</td>
              <td class="right aligned">3</td>
            </tr>
            <tr>
              <td>Swift in action</td>
              <td class="right aligned">Yuankun</td>
              <td class="right aligned">3</td>
            </tr>
            <tr>
              <td>Swift in action</td>
              <td class="right aligned">Yuankun</td>
              <td class="right aligned">3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>