<div class="ui black inverted vertical footer segment" id="footer">
  <div class="ui center aligned page grid">
    <div class="one column row">
      <div class="column">
        <h5 class="ui inverted header">Made By</h5>
        <div class="ui inverted link list">
          <div>Jon Don</div>
        </div>
      </div>
    </div>
  </div>
</div>