<div class="ui grid navbar">
  <div class="computer tablet only row">
    <div class="ui menu page grid fixed">
      <a href="" class="brand item">FunTalk</a>
      <a href="" class="active item">Home</a>
      <a href="" class="item">About</a>
      <a href="" class="item">Contact</a>
      <div class="right menu">
        <a class="ui dropdown item">Yuankun
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Profile</div>
            <div class="item">Topics</div>
            <div class="item">Something else here</div>
            <div class="ui divider"></div>
            <div class="item">Logout</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="mobile only row">
    <div class="ui navbar menu">
      <a href="" class="brand item">FunTalk</a>
      <div class="right menu open">
        <a href="" class="menu item">
          <i class="reorder icon"></i>
        </a>
      </div>
    </div>
    <div class="ui vertical navbar menu">
      <a href="" class="active item">Home</a>
      <a href="" class="item">About</a>
      <a href="" class="item">Contact</a>
      <div class="menu">
        <a class="ui dropdown item">Yuankun
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Profile</div>
            <div class="item">Topics</div>
            <div class="item">Something else here</div>
            <div class="ui divider"></div>
            <div class="item">Logout</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>